/* General styles */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 50px;
  color: #2a2c33;
}

.section {
  position: relative;
  border: 5px solid black;
  width: 90%;
  margin: 2.5%;
  padding: 2%;
  padding-top: 55px;
  background-color: #7B7B7B;
  color: black;
  font-size: 25px;
}

.section-title {
  position: absolute;
  top: 0;
  right: 0;
  border: 5px solid black;
  padding: 5px;
  margin: 10px;
  background-color: #2a2c33;
  color: white;
  font-size: 1.25em;
}

/* Desktop */
@media (min-width: 992px) {
  .section {
    float: left;
    width: 32%;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
  .section {
    float: left;
    width: 48%;
  }

  .section:nth-child(3) {
    width: 100%;
  }
}

/* Mobile */
@media (max-width: 767px) {
  .section {
    width: 100%;
    float: none;
  }
}
